DJANGO_SECRET_KEY=replace-with-strong-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.dev
DJANGO_EXPOSE_PORT=8011

POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5433

REDIS_URL=redis://redis:6379/0
REDIS_EXPOSE_PORT=6380
